
html, body {
  font-family: Arial;  
  background-image: url('images/fone.jpg');
  min-height: 100%;   
  background-position: center center;    
  background-size: cover;  
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
#app {
  margin-top: 50px;
}

.card {
  margin: auto;
  display: block;
  max-width: 700px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loader {
border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.transaction-results {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.transaction-results h3 {
  margin-bottom: 1rem;
}

.input-field {
  max-width: 650px;
  width: 100%;
}

.form-container {
  margin-left: 20px;
}

.keplr-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#connected-address {
  color: #007bff;
  font-size: 14px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; 
  font-size: 0.9rem;
  right: 0;
  top: 100%; 
}

.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-primary {
  font-size: 15px;
  padding: 5px 16px;
}

.blue-text {
    color: #007bff;
    font-size: 25px;
    margin-top: 5px;
}

.custom-text {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 0;
}

.custom-text p {
  margin-bottom: 1rem;
}

footer {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #000080; 
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: inherit;
}

footer a:hover {
  text-decoration: none;
}

footer .d-inline-block {
  display: inline-block;
  vertical-align: middle;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo-link,
.github-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.logo-link::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.github-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.logo-link:hover::after,
.github-link:hover::after {
    opacity: 1;
}